.top-banner {
    background-color: #032903;
    color: #e4cba9;
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
    width: 100%;
}

.tree-img {
    height: 25em;
}

.stats-board {
    background-color: #032903f2;
    color: #e4cba9;
}

.stats-board-position {
    display: flex;
    justify-content: space-between;
}

.stats {
    font-size: 12px;
}

.upgrade-btns {
    background-color: #032903;
    color: #e4cba9;
    padding: .25em;
}

.tree-img:hover {
    height: 25.5em;
}

.holtwood-one-sc-regular {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
